<!DOCTYPE html>
<html>
    <head>
        <title>HELP ME GHAGAHAGAHGAHGH</title>
        <style>
            body {
                text-align: center;
                margin-top: 100px;
                font-family: sans-serif;
            } 

            input, button {
                padding: 10px;
                font-size: 18px;
                margin-top: 15px;
            }
        </style> 
    </head>
    <body>
        <h1>Enter a link to redirect</h1>
        <form method="POST">
            <input type="text" name="link" placeholder="Paste your link here" required>
            <button type="submit">GO!</button>
        </form>
    </body>
</html>